/* src/pages/FiendList.css */
.section-title {
    font-size: 1.5rem;
    color: #ffd700; /* Oro per maggiore contrasto */
    font-weight: bold;
    margin: 1rem 0 0.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombra per evidenziare */
}

.divider {
    height: 2px;
    background-color: #666; /* Grigio più scuro */
    margin: 0.5rem 0 1rem;
    opacity: 0.8;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px; /* Arrotondato per un aspetto più pulito */
}

.fiend-cards {
    margin-bottom: 2rem;
}
.floating-btn {
    position: fixed;
    width: 45px; /* Assicurati che larghezza e altezza siano uguali */
    height: 45px;
    border-radius: 50% !important; /* Rende il pulsante circolare */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    opacity: 0.75; /* Opacità al 75% per un effetto più delicato */
    color: #ffffff; /* Colore delle icone per migliorare la visibilità */
    font-size: 1.5rem; /* Dimensione delle icone per essere ben visibili */
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
    transition: transform 0.3s ease; /* Transizione per un effetto click elegante */
}

.floating-btn:hover {
    opacity: 0.9; /* Aumenta leggermente l'opacità al passaggio del mouse */
}

.floating-btn:active {
    transform: scale(0.95); /* Leggero rimpicciolimento al click */
}

.floating-btn.save-btn {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(40, 167, 69, 0.75); /* Verde, con opacità del 75% */
}

.floating-btn.reset-btn {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(220, 53, 69, 0.75); /* Rosso, con opacità del 75% */
}

.fiendlist-title {
    margin-bottom: 10%;
}

.capturebar-title {
    margin-top: 30%;
}
