/* src/styles/CommonStyles.css */
/* Sfondo zoolab */
.zoolab-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/spira_map.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 0; /* Posizionato in fondo */
}

/* Overlay che copre lo sfondo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; /* Sopra il background */
    pointer-events: none;
}

.fiend-list-content,
.zone-list-content {
    position: relative;
    z-index: 2; /* Sopra l'overlay */
    padding: 20px;
    color: white;
}

.transparent-background {
    background-color: transparent;
}

* {
    -webkit-touch-callout: none; /* Previene il menu contestuale su iOS */
    -webkit-user-select: none; /* Previene la selezione del testo su WebKit (Safari) */
    -webkit-user-drag: none; /* Previene il trascinamento su WebKit */
    user-select: none; /* Previene la selezione del testo in altri browser */
}

img {
    -webkit-user-drag: none; /* Previene il drag delle immagini su Safari */
    user-select: none; /* Previene la selezione delle immagini */
    pointer-events: none; /* Questo impedisce di interagire direttamente con l'immagine */
}
