/* src/components/CaptureBar.css */
.capture-bar-item {
    margin-bottom: 1rem;
    background-color: rgba(
        10,
        32,
        47,
        0.85
    ); /* Dark blue, slightly transparent background */
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Carattere per il nome del mostro */
.capture-bar-name {
    font-family: "Trebuchet MS", sans-serif; /* Carattere alternativo per i nomi dei mostri */
    font-size: 1.3rem;
    font-weight: bold;
    color: #e0e0e0; /* Light gray for better readability */
    text-transform: capitalize;
    text-align: center; /* Centra il nome per migliorare l'aspetto */
    margin-bottom: 0.5rem;
}

.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.progress {
    background-color: #444;
    border-radius: 12px;
    height: 1.75rem; /* Slightly taller for a more modern look */
    overflow: hidden;
    width: 100%; /* Massimizza la larghezza della barra */
    position: relative;
}

.progress-bar {
    background: linear-gradient(
        135deg,
        #1e90ff,
        #00bfff
    ); /* Gradient for a more vibrant look */
    height: 100%;
    transition: width 0.4s ease;
}

/* Classe per la barra al 100% */
.full-capture {
    background: linear-gradient(
        135deg,
        #005073,
        #0073a4
    ); /* Darker gradient for full captures */
    height: 100%;
    transition: width 0.4s ease;
}

.capture-count {
    position: absolute;
    right: 10px; /* Allinea il numero sulla destra del contenitore */
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    z-index: 1; /* Assicura che il numero rimanga visibile sopra la barra di progresso */
}
