/* src/components/CaptureBar.scss */
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.capture-bar-item {
    margin-bottom: 1rem;
    background-color: $black-transparent-40; // Usa il colore di sfondo per i modali
    padding: 1rem;
    border-radius: $modal-border-radius;
    box-shadow: 0 4px 8px $black-transparent-30;
}

.capture-bar-name {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: $text-light;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0.5rem;
}

.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.progress {
    background-color: $black-transparent-60; // Usa una trasparenza nera definita
    border-radius: $modal-border-radius;
    height: 1.75rem;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.progress-bar {
    background: linear-gradient(
        135deg,
        $bar-cyan,
        $bar-light-cyan
    ); // Gradient specifico
    height: 100%;
    transition: width 0.4s ease;
}

.full-capture {
    background: linear-gradient(
        135deg,
        $bar-dark-bordeaux,
        $bar-bordeaux
    ); // Gradient specifico
    height: 100%;
    transition: width 0.4s ease;
}

.capture-count {
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
    z-index: 1;
}
