/* zoolab-frontend/src/components/CreationAlertModal.css */

.creation-alert-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark, semi-transparent overlay */
    backdrop-filter: blur(
        4px
    ); /* Adds a slight blur for a more elegant effect */
    z-index: 1040; /* To ensure it stays behind the modal */
    cursor: pointer;
}

.creation-alert-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, #4b0082, #b481b4);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    z-index: 1050; /* To ensure it stays above the overlay */
    max-width: 500px;
    width: 90%;
}

.creation-alert-modal-content {
    padding: 20px;
    color: #ffffff;
}

.creation-alert-modal-content p {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.creation-alert-modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #d4b0ff; /* Lighter purple for the title */
}

.creation-alert-modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff; /* White text to contrast the dark background */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation-alert-modal-body {
    padding: 16px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
}

.btn-close {
    color: #ffffff; /* White cross for closing */
    opacity: 0.8;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
}

div.creation-alert-modal-body .card {
    width: 70%;
    margin: 0 auto;
}

.no-margin {
    margin: 0 !important;
}
