/* src/components/MainLayout.css */
.main-layout {
    display: flex;
    flex-direction: column;
}


main {
    min-height: calc(100vh - 56px); /* Altezza viewport meno l'header */
    margin: 0;
    padding: 0;
}

header {
    height: 56px;
}

.overflow-trap {
    height: 1px;
    overflow: hidden;
    background: #212529; /* Colore dell'header */
}
