// src/components/MainLayout.scss
@import "../styles/variables";
@import "../styles/mixins";

.main-layout {
    display: flex;
    flex-direction: column;
}

main {
    min-height: calc(
        100vh - #{$header-height}
    ); // Altezza viewport meno l'header
    margin: 0;
    padding: 0;
}

header {
    height: $header-height;
}

.overflow-trap {
    height: 1px;
    overflow: hidden;
    background: #212529; // Colore dell'header
}

.zones-bg,
.fiends-bg,
.homepage-bg,
.zoolab-bg {
    @include full-size;
    background-size: cover;
    background-position: center;
}

.zones-bg {
    background-image: url($spira-map-bg);
}

.fiends-bg {
    background-image: url($fiends-bg);
}

.homepage-bg {
    background-image: url($homepage-bg);
}

.zoolab-bg {
    background-image: url($zoolab-bg);
}
